/tugas1-balok-tabung/BalokTabung/nbproject/private/
/tugas1-balok-tabung/BalokTabung/build/
/tugas1-balok-tabung/BalokTabung/dist/
/tugas2-kalkulator-balok/KalkulatorBalok/nbproject/private/
/tugas2-kalkulator-balok/KalkulatorBalok/build/
/tugas2-kalkulator-balok/KalkulatorBalok/dist/
